@import "@/scss/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unselectable {
  user-select: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $lighter-gray-color;
  font-family: var(--active-font-family);
}

summary::marker {
  display: none;
}

summary::after {
  content: "\25B6";
  font-size: 0.8rem;
  padding-right: 0.5em;
  color: $lighter-gray-color;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  transition: 0.3s ease-out;
}

details[open] .content {
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
  font-family: var(--active-font-family);
}

@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 1em;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details[open] summary {
  background-color: lighten($lighter-gray-color, 60%);
}

details[open] > summary::after {
  content: "\25BC";
  transform: rotate(180deg);
}

.font-crimson-theme {
  color: $red-color;
}

.font-emerald-theme {
  color: $green-color;
}

.font-gold-theme {
  color: $orange-color;
}

.font-family-ubuntu {
  font-family: $ubuntu-font-family;
}

.font-family-poppins {
  font-family: $base-font-family;
}

.font-family-roboto {
  font-family: $roboto-font-family;
}

.font-size-small {
  font-size: $small-font-size !important;
}

.font-size-medium {
  font-size: $base-font-size !important;
}

.font-size-large {
  font-size: $large-font-size !important;
}

.font-weight-bold {
  font-weight: bolder;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
