@import "@/scss/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unselectable {
  user-select: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.font-crimson-theme {
  color: $red-color;
}

.font-emerald-theme {
  color: $green-color;
}

.font-gold-theme {
  color: $orange-color;
}

.font-family-ubuntu {
  font-family: $ubuntu-font-family;
}

.font-family-poppins {
  font-family: $base-font-family;
}

.font-family-roboto {
  font-family: $roboto-font-family;
}

.font-size-small {
  font-size: $small-font-size !important;
}

.font-size-medium {
  font-size: $base-font-size !important;
}

.font-size-large {
  font-size: $large-font-size !important;
}
