$base-color: #232323;
$white: #fff;
$sec-color: #53b835;
$th-color: #202020;

$base-box-shadow: 0 8px 6px -6px black;
$hover-box-shadow: 0 8px 6px -8px darken($sec-color, 20%);

$base-border-radius: 3rem;

$base-font-family: "Poppins", sans-serif;
$base-font-size: 16px;
$logo-font-size: 2rem;

$mobile-clock-face: 17rem;
$mobile-clock-border: 15rem;

$desktop-clock-face: 23rem;
$desktop-clock-border: 21rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uselectable {
  user-select: none;
}
